

.container {
    width: 80%;
    max-width: 40.625rem;
    height: 70vh;
    background-color: white;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1.25rem;
    box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.09);
    -webkit-box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 7px 22px 9px rgba(0,0,0,0.09);  
}

.fields {
    margin: 1.25rem 1.875rem;
}

.fields__title {
    display: flex;
    justify-content: center;
}

#field__title {
    font-size: .938rem;
    font-weight: bold;
    color: rgb(80, 80, 80);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.fields__textboxs {
    height: 6.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fields__textboxs > input {
    height: 2.5rem;
    border: 1px solid silver;
    border-radius: .313rem;
    margin-bottom: 1.25rem;
}

.fields__remember {
    margin-bottom: 1.25rem;
}

#btnlogin {
    width: 100%;
    border: none;
    color: #ffffff;
    padding: .625rem;
    border-radius: .313rem;
    margin-bottom: .625rem;
}

.fields__recovery > a , .fields__create > a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}

.fields__recovery {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8.5rem;
}

.fields__create {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    align-items: flex-end;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.logo > img {
    height: 5rem;
}
