header.menu {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: auto !important;
}

.container {
    margin-top: 6.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 .938rem;
}

.container :not(:first-child) {
    margin-top: .938rem;
}

.photo, 
.description,
.counter__friend,
.counter__community {
    border: 1px solid rgb(180, 179, 179);
    width: 100%;
    height: 18.75rem;
    background-color: #ffffff;
    border-radius: .625rem;
} 

.photo {
    height: 31.25rem;
    border-top-right-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 21.875rem;
}

.photo .photo__avatar > img{
    border-radius: .938rem;
}

.photo__tools > div > i {
    margin-right: .938rem;
}

.photo__name > h1 {
    font-size: 1.875rem;
    margin-bottom: .313rem;
}

.description {
    height: 25rem;
    max-width: 32.5rem;
}

.counter__friend,
.counter__community {
    height: 21.875rem;
    width: 21.25rem;
}

header > nav {
    color: #ffffff;
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header > nav > #title > h1 {
    font-size: 3.125rem;
}

header > nav > #hamburguer > label {
    font-size: 1.875rem;
    cursor: pointer;
}