:root {
    background-color: #f7e3f3;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

.orkut-font-color {
    color: #e8258e;
}

.orkut-font-dedault {
    color: rgb(107, 107, 107);
}

.orkut-link {
    text-decoration: none;
    font-weight: 500;
}

.orkut-button-bg {
    background-color: #e8258e;
    cursor: pointer;
}